
.header {
    background-color: #6f42c1;
    height: 150px;
    color: white;
    background-image:url(assets/thiss.jpg);
}


.navbar-custom {
    background-color: transparent;
    padding: 0;
}

.navbar-nav {
    width: 100%;
}

.nav-item {
    flex: 1;
    text-align: center;
}


.nav-link {
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #5a3598;
    color: white;
}


.contact-card, .author-card {
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

.contact-card h5, .author-card h5 {
    font-weight: bold;
}


.contact-card i {
    margin-right: 8px;
    color: gray;
}


.author-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    padding:10px
}
.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5); 
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.navbar .nav-item img {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards; 
}
