
.header {
    background-color: #6f42c1; 
    height: 200px;
    color: white;
    background-image:url(assets/this2.jpg);
}


.navbar-custom {
    background-color: transparent;
    padding: 0;
}


.navbar-nav {
    width: 100%;
}
.nav-item {
    flex: 1;
    text-align: center;
}


.nav-link {
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    
}
.nav-link:hover {
    background-color: #5a3598;
    color: white;
}


.carousel-inner {
    max-height: 500px;
    overflow: hidden;
}

.carousel-img {
    width: 100%;            
    height: auto;           
    object-fit: contain;    
    object-position: center;
}



.grid-container h2 {
    font-size: 2rem;
    font-weight: bold;
}

.grid-container p {
    line-height: 1.6;
    margin-bottom: 1rem;
    text-align: justify;
}

.grid-container img {
    max-width: 100%;
    height: auto;
    display: block;
}

.g-4 {
    gap: 0rem; 
}

.img-fluid {
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); }


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.navbar .nav-item img {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards; 
}